.container {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh; 
}
.hero {
    position: relative;
    top: 24px  ;
    width: 1440px;
    height: 734px; 
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 24px;
}
.hero-top {
    position: absolute;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    width: 1280px;
    height: 50px;
    margin: 30px 80px;
    top: 0;
    right: 0;
}
.top-logo {
    width: 217px; 
    height: 50px;
}
.hero-content {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 1280px;
    height: 481.52px;
    top: 156px;
    left: 2px;
    font-family: $fontMontserrat;
}
.content-container {
    display: flex;
    flex-direction: column;
    width: 621px;
    height: 319px;
}
.content-title {
    font-size: 80px;
    font-weight: 700;
    line-height: 64px;
}
.content-write {
    margin-top: 48px;
    margin-bottom: 30px;
    font-family: $fontMontserrat;
    font-size: 24px;
    font-weight: 600;
    color: $black;
}
.content-button {
    font-family: $fontMontserrat;
    font-weight: 600;
    font-size: 24px;
    line-height: 29.26px;
    text-align: center;
    width: 300px;
    height: 64px;
    border-radius: 10px;
    color: $white;
    background-color: $green;
}
span {
    margin-top: 10px;
    display: inline-block; 
    font-size: 60px;
    font-weight: 400;
    line-height: 64px;
    color: $green;
    font-family: $fontMontserrat;
}
.content-image {
    position: absolute;
    width: 741px;
    height: 494px;
    margin-left: 150px;
    left: 685px;   
    z-index: 1;
}
.hero-bg {
    position: absolute;
    top: 0;
    left: 721px;
}
.hero-bg-image {
    position: absolute;
    margin-bottom: 80px;
    width: 640px;
    height: 734px;
}
.hero-btn {
    position: absolute;
    margin-left: 100px;
    padding: 10px 20px;
    background-color: $black;
    right: 1px;
    color: $white;
    border: none;
    cursor: pointer;    
    z-index: 1;
    margin-left: 5px;
}
.hero-arrow {
    position: absolute;
    display: flex;
    top: 654px;
    transform: translateX(-50%);
    left: 50%;
    z-index: 1;
}
